.headerBrandA {
    color: #026b56;
    font-weight: 600;
    font-size: medium;
}

.headerBrandB {
    color: #039678;
    font-size: medium;
}

.bookAppointmentButton {
    background-color: #039678;
    border: none;
}

.bookAppointmentButton:hover {
    border: 1px solid black;
    background-color: #039678;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.6)), url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccc;
    min-height: 50vh;
}

.sectionHeadings {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.serviceItem {
    border: 1px solid #03967979;
    width: 30%;
}

.teamItem {
    border: 1px solid #03967979;
    width: 70%;
    margin-left: 15%;
}

.bookingForm {
    border: 1px solid #03967979;
    width: 80%;
    margin-left: 10%;
}

#chatbotIcon {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: rgb(199, 169, 0);
    background: radial-gradient(rgb(219, 187, 4), rgb(90, 77, 0));
    border-color: rgb(199, 169, 0);
}

#modal {
    position: fixed;
    bottom: 50px;
    right: 5px;
}

#modalBody {
    height: 320px;
    width: 260px;
    text-align: center;
    color: #1b1b1ba8;
}

#chatbotSend {
    background-color: #e9ecef;
    border: none;
}

.modalHeader {
    background-color: #026b56;
    padding: 10px;
}

/* Responsiveness for smaller screens */
@media (min-width: 992px) {
    .headerBrandA, .headerBrandB {
        font-size: larger;
    }
}